.project_container{
    height: 115vh;
  background-color: #1a1a1a;
}a{
  text-decoration: none;
}
.projects div{
    height: 10rem;
  height:12rem;
  width: 25rem;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  margin-left: -50px;
}
.projects img{
  height: 13rem;
  opacity: 0.7;
 
}
.projects  img:hover{
  opacity: 2;
}

.projects h4{
  color: #D43F52;
  text-align: center;
}
.thirdimg img{
  margin-top:10rem;
  width: 32rem;
  height: 40vh;
}
.thirdimg{
  margin-top: 100px;
}
.projects{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.roadtojs{
  width: 25rem;
}

@media (min-width:330px) and (max-width:490px) {
   .project_container{
    height: 165vh;    overflow-y: hidden;

   }
   .projects div{
    width: 15rem;
    margin: 50px;
   }.roadtojs{
    margin-left: -40px;
}

   .crudapp{
    margin-left: -50px;
   }
  .projects img{
     width: 18rem;
  }
  .thirdimg{
    margin-left: -35px;
    margin-top: -20px;
  }
  
}