.about_section{
    height: 60vh;
}
.container{
    display: flex;
}
.second{
    width: 50%;
}
.first p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
}

@media (min-width:330px) and (max-width:490px) {
    .container{
        display: block;
    }
    .about_section{
    overflow-y: hidden;
    }
    .first h2{
        text-align: center;
    }
    .about_section{
        height: 140vh;
    }
    .second{
        width: 85%;
    }
   
}